.outer{
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
    min-height: 100vh;
}


.form-control:focus {
    box-shadow: none;
}

.material-icons{
    margin-right: 5px;
    cursor: pointer;
}

.vote-box{
    display: flex;
    align-items: center;
}

.collection-item{
    display: flex;
    justify-content: space-between;
}
