.outer{
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
    min-height: 100vh;
}


.form-control:focus {
    box-shadow: none;
}

